<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
{% extends "template.html" %}
{% block content %}
<div class="container-fluid">
    <div class="index-text">
        <h1>Books</h1>
        <p>Books I've read and liked.</p>
    </div>
</div>
<div class="row justify-content-evenly">
    <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1472119680l/27833670._SY475_.jpg"
                         class="card-img-top" alt="Book Cover title: Black Matter">
                </div>
                <div class="flip-card-back">
                    <h5 class="card-title">Dark Matter - Blake Crouch</h5>
                    <p class="card-text">A relentlessly surprising science-fiction thriller about choices, paths not taken, and how far we'll go to claim the lives we dream of.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1597695864l/54493401.jpg"
                         class="card-img-top" alt="Book Cover title: Project Hail Mary">
                </div>
                <div class="flip-card-back">
                    <h5 class="card-title">Project Hail Mary - Andy Weir</h5>
                    <p class="card-text">Ryland Grace is on last-chance mission to save Earth - but he doesn't remember what he is supposed to do.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1489415716l/12868761._SY475_.jpg"
                         class="card-img-top" alt="Book cover">
                </div>
                <div class="flip-card-back">
                    <h5 class="card-title">Let's Pretend This Never Happened: A Mostly True Memoir - Jenny Lawson</h5>
                    <p class="card-text">A very funny book about the most mortifying moments of the author's life.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1500555996l/33571217._SY475_.jpg"
                         class="card-img-top" alt="Book Cover">
                </div>
                <div class="flip-card-back">
                    <h5 class="card-title">Reincarnation Blues - Michael Poore</h5>
                    <p class="card-text">The story of a man who has been reincarnated nearly 10,000 times, in search of the
                        secret to immortality so that he can be with his beloved, the incarnation of Death.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1609095173l/50202953._SY475_.jpg"
                         class="card-img-top" alt="Book Cover title: Piranesi">
                </div>
                <div class="flip-card-back">
                    <h5 class="card-title">Piranesi - Susanna Clarke</h5>
                    <p class="card-text">A beautiful book about identity, trust and how fragile our self can be.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1377159022l/6469165.jpg"
                         class="card-img-top" alt="Book Cover title: What Alice Forgot">
                </div>
                <div class="flip-card-back">
                    <h5 class="card-title">What Alice Forgot - Liane Moriarty</h5>
                    <p class="card-text">How much does a life change in a decade? Would ten-years-ago you like your current life, or agree with your choices?</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>