<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Links</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
     <div class="container-fluid index-text">
    <h1>Really cool websites</h1>
    <p>Websites that I find inspiring, creative or funny.</p>
     </div>
    <div class="container-fluid">
    <div class="link-list">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a class="links" target="_blank" href="https://simone.computer/">Simone Computer</a></li>
            <li class="list-group-item"><a class="links" target="_blank" href="https://langworth.com/">Langworth</a></li>
            <li class="list-group-item"><a class="links" target="_blank" href="https://unsplash.com/">Unsplash</a></li>
            <li class="list-group-item"><a class="links" target="_blank" href="https://untools.co/">Untools</a></li>
            <li class="list-group-item"><a class="links" target="_blank" href="https://www.gwern.net/">Gwern</a></li>
            <li class="list-group-item"><a class="links" target="_blank" href="https://www.joelonsoftware.com/">Joel Spolsky</a></li>
            <li class="list-group-item"><a class="links" target="_blank" href="https://ciechanow.ski/">Ciechanow</a></li>
        </ul>
    </div>
</div>
    {% endblock %}
</body>
</html>